Change not specified references

It would be good to change the reference information 

--------- current text ------- 
[ECMAScript-MIME]
Reference not found.
[HTML-MIME]
Reference not found.

[JSON]
Reference not found.
[MIME]
Reference not found.

[SNIFF]
Reference not found.
[URL]
Reference not found.

--------- Proposed change ------- 

[ECMAScript-MIME]
B. Hoehrmann, Scripting Media Types, April 2006,  Internet RFC 4329. URL: http://tools.ietf.org/html/rfc4329
[HTML-MIME]
D. Connolly; L. Masinter, The 'text/html' Media Type, June 2000, Internet RFC 2854. URL: http://tools.ietf.org/html/rfc2854

[JSON]
D. Crockford. The application/json Media Type for JavaScript Object Notation (JSON) (RFC 4627). July 2006. RFC. URL: http://www.ietf.org/rfc/rfc4627.txt
[MIME]
MIME is specified in six  RFC: RFC 2045, RFC 2046, RFC 2047, RFC 4288, RFC 4289 and RFC 2049, which together define the specifications.

[SNIFF]
A. Barth; I. Hickson, Media Type Sniffing, IETF (Work in Progress). URI: http://tools.ietf.org/html/draft-ietf-websec-mime-sniff-03
[URL]
T. Berners-Lee; L. Masinter; M. McCahill, Uniform Resource Locators (URL), December 1994, Internet RFC 1738. URI : http://tools.ietf.org/html/rfc1738


Moving to https://github.com/sysapps/manifest/issues/5
